@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}
@model GradeCalcModel;
<h2>Grade Calculator</h2>
<form method="post">
    <label>Assignments: </label>
    <input id="assign" asp-for="Assignment" /><br />
    <label>Group Projects: </label>
    <input id="group" asp-for="Group" /><br />
    <label>Quizzes: </label>
    <input id="quiz" asp-for="Quizzes" /><br />
    <label>Exams: </label>
    <input id="exam" asp-for="Exams" /><br />
    <label>Intex: </label>
    <input id="intex" asp-for="Intex" /><br />
    <br />


    <input class="button2" id="btnSend" type="submit" value="Calculate Grade" />
    <div asp-validation-summary="All"></div>
    <br />
    <br />
</form>
<br />
<br />
<br />

<script src="js/grade.js"></script>
