@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tanner Davis' Home Page";
}




<h1>Tanner Davis</h1>
<br />
<img width="300" src="img/huntingpic.png" />
<br /><br /><br />
<p>
    I hope to learn skills in Enterprise Application Development that will land me a high paying job when I decide to put myself on the job market.
    I have always had an interest in app development and want to learn the backend and management skills necessary to successfully run an app
    for a company. I hope to learn new programming languages such as C#, and other languages like HTML and CSS in order to design aesthetically pleasing
    web pages. The last thing that I hope to take away from this class is the ability to problem solve and work together as a team.
</p>
<br />

<h3>Top 3 Jobs:</h3>
<ul>
    <li>Data Analyst</li>
    <li>Web Developer</li>
    <li>Information Systems Professor at BYU</li>
</ul>


